@model IEnumerable<LibraryManagementSystem_MVC.Models.Member>

@{
    ViewBag.Title = "all members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Saved Memebers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.MemberId })
        </td>
    </tr>
}

</table>
